<div class="container">
  <h2>About our amazing company</h2>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi deleniti eaque error iusto obcaecati quidem
    soluta! Exercitationem in, magnam possimus quia rerum similique vitae voluptatibus. Cum fuga laborum non reiciendis
    reprehenderit? Ducimus libero sed unde. Assumenda consectetur est explicabo facilis, magni minus numquam optio
    perspiciatis repellendus saepe soluta, tempora voluptatibus! Delectus deserunt eveniet, fugit maiores nisi quisquam
    quo repellat.</p>
 </div>



